@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Regular.woff2') format('woff2'),
        url('Aileron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

